name: ci
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]


permissions:
  contents: read

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    needs: dependency-scan
    timeout-minutes: 25
    strategy:
      fail-fast: true
      max-parallel: 4

    permissions:
      contents: 'read'

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v1
      with:
        egress-policy: block
        disable-telemetry: true
        allowed-endpoints: >
          api.github.com:443
          dl.google.com:443
          files.pythonhosted.org:443
          github.com:443
          oauth2.googleapis.com:443
          objects.githubusercontent.com:443
          pypi.org:443
          raw.githubusercontent.com:443
          storage.googleapis.com:443
          y2oiacprodeus2file6.blob.core.windows.net:443  # cache builds
          release-assets.githubusercontent.com:443  # cache builds

    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      with:
        fetch-depth: 0

    - uses: psf/black@782e5605c86aab56be6f905da10dcd3e463fd9c2 # stable

  dependency-scan:
    permissions:
      # Needed to upload the results to code-scanning dashboard.
      security-events: write
      contents: read # for actions/checkout to fetch code
    runs-on: ubuntu-latest

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
      with:
        egress-policy: block
        allowed-endpoints: >
          api.github.com:443
          ghcr.io:443
          github.com:443
          pkg-containers.githubusercontent.com:443
          objects.githubusercontent.com:443
          mirror.gcr.io:443
          release-assets.githubusercontent.com:443

    - name: Checkout the code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v2
      with:
        fetch-depth: 0

    - name: Run vulnerability scanner in repo mode
      if: github.actor != 'dependabot[bot]'
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.2.2
      with:
        scan-type: 'fs'
        format: 'sarif'
        vuln-type: 'library'
        severity: 'HIGH,CRITICAL'
        scanners: 'vuln,config,secret'
        output: 'trivy-results.sarif'

    - name: Run vulnerability scanner in repo mode
      if: github.actor == 'dependabot[bot]'
      uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.2.2
      with:
        scan-type: 'fs'
        exit-code: 1
        format: 'sarif'
        vuln-type: 'library'
        severity: 'MEDIUM,HIGH,CRITICAL'
        scanners: 'vuln,config,secret'
        output: 'trivy-results.sarif'

    - name: Upload Trivy scan results to GitHub Security tab
      uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v1
      if: always()
      with:
        sarif_file: 'trivy-results.sarif'

  semgrep:
    permissions:
      contents: read  # for actions/checkout to fetch code
      pull-requests: write  # for semgrep to add comments in pull request
    name: semgrep-scan
    runs-on: ubuntu-latest
    needs: dependency-scan
    container:
      image: returntocorp/semgrep
    if: github.actor != 'dependabot[bot]'

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Checkout the code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v3.0.2
      with:
        fetch-depth: 0

    - run: semgrep ci || true
      env:
        SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}

  analyze:
    name: Analyze
    runs-on: ubuntu-latest
    needs: dependency-scan
    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        language: [ 'python' ]

    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit # TODO: change to 'egress-policy: block' after couple of runs

    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

    # Initializes the CodeQL tools for scanning.
    - name: Initialize CodeQL
      uses: github/codeql-action/init@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v2.2.11
      with:
        languages: ${{ matrix.language }}

    # Autobuild attempts to build any compiled languages  (C/C++, C#, or Java).
    # If this step fails, then you should remove it and run the build manually (see below)
    - name: Autobuild
      uses: github/codeql-action/autobuild@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v2.2.11

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v2.2.11
      with:
        category: "/language:${{matrix.language}}"
