name: Python application

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Test on Python ${{ matrix.python-version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.9', '3.10', '3.11', '3.12', '3.13']
        os: [ubuntu-latest]
      fail-fast: false
    timeout-minutes: 5
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9
      with:
        egress-policy: block
        allowed-endpoints: >
          files.pythonhosted.org:443
          github.com:443
          pypi.org:443
          api.github.com:443
          coveralls.io:443
          objects.githubusercontent.com:443
          release-assets.githubusercontent.com:443

    - name: "Checkout code"
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # tag=v3.0.0

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip wheel
        pip install nox
        pip install '.[test]'

    - name: Test with coverage
      run: |
        nox -s testcov-${{ matrix.python-version }}

    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch

    - name: Upload coverage
      if: matrix.os == 'ubuntu-latest'
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        COVERALLS_PARALLEL: "true"
      run: |
        pip install coveralls
        coveralls --service=github

  coveralls:
    name: Indicate completion to coveralls.io
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@e3f713f2d8f53843e71c69a996d56f51aa9adfb9 # v2.14.1
      with:
        egress-policy: audit

    - name: Finished
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        pip3 install --upgrade coveralls
        coveralls --service=github --finish
